<div id="outer">
  <mat-grid-list cols="3" rowHeight="4:3" style="padding: 0px;">
    <mat-grid-tile style="display: block;">
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;"></div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="height: 100%; width: 100%; background: red;">
        <div style="background: rgb(160, 160, 253); height:25%;">Word</div>
        <div style="background: grey; height: 50%;">Picture</div>
        <div style="background: rgb(160, 160, 253); height: 25%;">Letter</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  </div>