.mat-grid-list {
    background: rgb(195, 255, 195);;
    margin: 0;
}
.mat-grid-tile {

    margin: 0;
    border-radius: 20px;
}

#outer {
    width: 100vw; 
    height: 100vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 133.33vh; /* 16/9 = 1.778 */
    margin: auto; 
}

#top {
    height: 20%;
    background:rgb(255, 255, 255);
    width: 100%;
    }
    
#middle {
    height: 60%;
    background: rgb(255, 118, 118);
    width: 100%;
}
    
#bottom {
    height: 20%;
    background: rgb(255, 255, 255);
    width: 100%;

}
